@model Soccer.MVC.Models.AwardWinner

@{
    ViewData["Title"] = "Details";
}

<div>
    <div class="container mt-3">
            <div class="mt-4 p-5 bg-primary text-white rounded">
                <h1>@Html.DisplayFor(model => model.Award.Name)</h1>
                <p>@Html.DisplayFor(model => model.Award.Description)<br/><br/>
                 <strong>Category:</strong>  @Html.DisplayFor(model => model.Award.Category)
                </p>
            </div>
        </div>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Winner</th>
            <th scope="col">Year</th>
        </tr>
    </thead>
    <tbody>      
        @foreach(var award in Model.WinnerList){
        <tr>         

            <td>@award.Award_Name</td>
            <td>@award.Player_Name</td> 
            <td>@award.Years</td>
       </tr>
        }
    </tbody>
</table>
