@model IEnumerable<Soccer.MVC.Models.Award>

@{
    ViewData["Title"] = "Index";
}

<h1>Awards</h1>

@foreach (var item in Model) {
        <div class="card">
            <div class="card-body" >
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                    <p class="card-text">
                        @{
                            string trimmedDescription = item.Description?.Substring(0,100);
                        }
                        @Html.DisplayFor(modelItem => trimmedDescription)<br />
                        @Html.DisplayFor(modelItem => item.Category)<br/>
                        <strong>Category:</strong> @Html.DisplayNameFor(model => model.Category)
                    </p>             
                    <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-outline-primary float-end">View Award Details</a>     
            </div>
        </div>
}




